<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ckb.ssm.mapper.ActivityremarkMapper">
  <resultMap id="BaseResultMap" type="com.ckb.ssm.entity.Activityremark">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="noteContent" jdbcType="VARCHAR" property="noteContent" />
    <result column="createTime" jdbcType="CHAR" property="createTime" />
    <result column="createBy" jdbcType="VARCHAR" property="createBy" />
    <result column="editTime" jdbcType="CHAR" property="editTime" />
    <result column="editBy" jdbcType="VARCHAR" property="editBy" />
    <result column="editFlag" jdbcType="CHAR" property="editFlag" />
    <result column="activityId" jdbcType="CHAR" property="activityId" />
  </resultMap>
  <select id="getCountByAids" resultType="int">
    select count(*)
    from tbl_activity_remark
    where activityId in
    <foreach collection="array" item="aid" open="(" close=")" separator=",">
      #{aid}
    </foreach>
  </select>
  <delete id="deleteByAids">
    delete
    from tbl_activity_remark
    where activityId in
    <foreach collection="array" item="aid" open="(" close=")" separator=",">
      #{aid}
    </foreach>
  </delete>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, noteContent, createTime, createBy, editTime, editBy, editFlag, activityId
  </sql>
  <select id="selectByExample" parameterType="com.ckb.ssm.entity.ActivityremarkExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_activity_remark
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_activity_remark
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_activity_remark
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ckb.ssm.entity.ActivityremarkExample">
    delete from tbl_activity_remark
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ckb.ssm.entity.Activityremark">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_activity_remark (noteContent, createTime, createBy, 
      editTime, editBy, editFlag, 
      activityId)
    values (#{noteContent,jdbcType=VARCHAR}, #{createTime,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{editTime,jdbcType=CHAR}, #{editBy,jdbcType=VARCHAR}, #{editFlag,jdbcType=CHAR}, 
      #{activityId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ckb.ssm.entity.Activityremark">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_activity_remark
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="noteContent != null">
        noteContent,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="createBy != null">
        createBy,
      </if>
      <if test="editTime != null">
        editTime,
      </if>
      <if test="editBy != null">
        editBy,
      </if>
      <if test="editFlag != null">
        editFlag,
      </if>
      <if test="activityId != null">
        activityId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="noteContent != null">
        #{noteContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=CHAR},
      </if>
      <if test="editBy != null">
        #{editBy,jdbcType=VARCHAR},
      </if>
      <if test="editFlag != null">
        #{editFlag,jdbcType=CHAR},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ckb.ssm.entity.ActivityremarkExample" resultType="java.lang.Long">
    select count(*) from tbl_activity_remark
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_activity_remark
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.noteContent != null">
        noteContent = #{record.noteContent,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        createTime = #{record.createTime,jdbcType=CHAR},
      </if>
      <if test="record.createBy != null">
        createBy = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.editTime != null">
        editTime = #{record.editTime,jdbcType=CHAR},
      </if>
      <if test="record.editBy != null">
        editBy = #{record.editBy,jdbcType=VARCHAR},
      </if>
      <if test="record.editFlag != null">
        editFlag = #{record.editFlag,jdbcType=CHAR},
      </if>
      <if test="record.activityId != null">
        activityId = #{record.activityId,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_activity_remark
    set id = #{record.id,jdbcType=CHAR},
      noteContent = #{record.noteContent,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=CHAR},
      createBy = #{record.createBy,jdbcType=VARCHAR},
      editTime = #{record.editTime,jdbcType=CHAR},
      editBy = #{record.editBy,jdbcType=VARCHAR},
      editFlag = #{record.editFlag,jdbcType=CHAR},
      activityId = #{record.activityId,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ckb.ssm.entity.Activityremark">
    update tbl_activity_remark
    <set>
      <if test="noteContent != null">
        noteContent = #{noteContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        createBy = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        editTime = #{editTime,jdbcType=CHAR},
      </if>
      <if test="editBy != null">
        editBy = #{editBy,jdbcType=VARCHAR},
      </if>
      <if test="editFlag != null">
        editFlag = #{editFlag,jdbcType=CHAR},
      </if>
      <if test="activityId != null">
        activityId = #{activityId,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ckb.ssm.entity.Activityremark">
    update tbl_activity_remark
    set noteContent = #{noteContent,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=CHAR},
      createBy = #{createBy,jdbcType=VARCHAR},
      editTime = #{editTime,jdbcType=CHAR},
      editBy = #{editBy,jdbcType=VARCHAR},
      editFlag = #{editFlag,jdbcType=CHAR},
      activityId = #{activityId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>